.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    .heading {
        color: var(--h-color);
        font-size: var(--hs-font);
        text-align: center;
        text-transform: uppercase;
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        font-family: "arturo", sans-serif;
    }

    .contact_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 2rem;
    }

    .contact_left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .socialMedia {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            .div {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                box-shadow: var(--shadow);
                border-radius: 10px;
                transition: all 0.5s;

                border-left: 1px solid var(--border-color);
                border-top: 1px solid var(--border-color);
                border-radius: 20px;
                box-shadow: var(--shadow);
                &:hover {
                    background-color: var(--h-color);

                    transform: scale(1.1);
                    a {
                        svg {
                            color: var(--bg-color);
                        }
                        h2 {
                            color: var(--bg-color);
                        }
                    }
                }
                a {
                    margin: 1rem 0.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1rem;

                    svg {
                        height: 35px;
                        width: 35px;
                        color: var(--h-color);
                    }
                    h2 {
                        color: var(--h-color);
                    }
                }
            }
        }
    }

    // Contact Right
    .contact_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .form {
            padding: 2rem 0;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: var(--shadow);
            gap: 1.5rem;
            border-left: 1px solid var(--border-color);
            border-top: 1px solid var(--border-color);
            border-radius: 20px;
            box-shadow: var(--shadow);

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                width: 100%;
                label {
                    color: var(--f-color);
                    font-size: 15px;
                    letter-spacing: 1px;
                }
                input {
                    width: 80%;
                    height: 2rem;
                    border: none;
                    font-size: 20px;
                    outline: none;
                    background-color: transparent;
                    padding: 0.7rem 1rem;
                    color: var(--h-color);
                    border-bottom: 1px solid var(--h-color);
                }
            }
        }
    }
}

// Media queries

@media only screen and (max-width: 600px) {
    .contact {
        .heading {
            font-size: 2rem;
        }
        .contact_container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 400px) {
    .contact_left {
        .socialMedia {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.nrmlBtn {
    border: 1px solid var(--h-color);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--f-color);
    font-weight: 600;
    cursor: not-allowed;
    opacity: 0.2;
}


